<mat-card>
  <h1>Add New Category</h1>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Title</mat-label>
              <input
              required
              autofocus
                type="text"
                name="title"
                matInput
                placeholder="Enter Here"
                [(ngModel)]="category.title"
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea
              required
                name="description"
                matInput
                placeholder="Enter Category Description"
                [(ngModel)]="category.description"
                rows="15"
              ></textarea>
            </mat-form-field>
            <div class="container text-center">
              <button mat-raised-button color="primary" style="margin-right: 180px;">Add</button>
               </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
