.example-spacer{
  flex: 1 1 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.fa-icon {
  margin-right: 0.5rem;
}
