<div class="bootstrap-wrapper">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-12">
      <h1>Add Question to {{ qTitle }}</h1>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Enter details of new question</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form style="margin-top: 20px" (Submit)="formSubmit()">
            <!--Content Field -->
            <!--<mat-form-field class="w100">
              <mat-label>Write question content</mat-label>
              <textarea matInput rows="8" placeholder="Enter here" [(ngModel)]="question.content"></textarea>
            </mat-form-field> -->

<!--            <ckeditor [editor]="Editor" data="<h1>Write your question here ! </h1" name="content"
              [(ngModel)]="question.content">
            </ckeditor>
          -->
            <!-- options-->
            <div class="row">
              <div class="col-md-6">
                <!--option1-->
                <mat-form-field class="w100">
                  <mat-label>Enter option 1</mat-label>
                  <input type="text" matInput placeholder="Enter option 1 here" required rows="8"
                    [(ngModel)]="question.option1" />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <!--option2-->
                <mat-form-field class="w100">
                  <mat-label>Enter option 2</mat-label>[value]=question.option1
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!--option3-->
                <mat-form-field class="w100">
                  <mat-label>Enter option 3</mat-label>
                  <input matInput placeholder="Enter option 3 here" type="text" required rows="8"
                    [(ngModel)]="question.option3" />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <!--option4-->
                <mat-form-field>
                  <mat-label>Enter option 4</mat-label>
                  <input type="text" placeholder="Enter option 4 here" matInput required rows="8"
                    [(ngModel)]="question.option4" />
                </mat-form-field>
              </div>
            </div>
            <!--answer-->
            <mat-form-field class="w100">
              <mat-label>Select Answer</mat-label>
              <mat-select [(ngModel)]="question.answer" name="answer">
                <mat-option *ngIf="question.option1" [value]=question.option1>{{question.option1}}</mat-option>
                <mat-option *ngIf="question.option2" [value]=question.option2>{{question.option2}}</mat-option>
                <mat-option *ngIf="question.option3" [value]=question.option3>{{question.option3}}</mat-option>
                <mat-option *ngIf="question.option4" [value]=question.option4>{{question.option4}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="co4tainer text-center">
              <button mat-raised-button color="primary">Add</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>